.button {
  border-radius: var(--border-radius-default);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  max-width: var(--width-input);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transition: transform 0.1s ease;
  width: 100%;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.primary {
  background-color: var(--color-brand);
  color: white;
  border: none;
}

.primary:disabled {
  background-color: var(--color-accent);
  cursor: not-allowed;
}

.secondary {
  background-color: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-brand);
}

.secondary:disabled {
  color: var(--color-accent);
  border-color: var(--color-accent);
  cursor: not-allowed;
}
